#Page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  min-height: 100dvh;
}
#LinkFix {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
